<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Src</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.email %></td>
        <td><img width="200" src="<%= post.src %>" /></td>
        <td>likes: <%= post.likes_count %></td>
        <td><%= link_to 'Show', post %></td>
        <td><% if post.liked? @user %>
          <%= link_to 'dislike', post_dislike_it_url(post), method: :post %>
        <% else %>
          <%= link_to 'like', post_like_it_url(post), method: :post %>
        <% end %>
        </td>
        <td><%= link_to 'Comments', post_comments_url(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<%= link_to 'Logout', destroy_user_session_url, method: :delete %>
